<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="ARCHLabs"/>
    <item label="Run Program"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator/>
    <item label="Terminal"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser ]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Text Editor"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="Media Player"><action name="Execute"><command><![CDATA[vlc]]></command></action></item>
  <separator/>
  <menu id="Accessories" label="Accessories">
    <item label="About Xfce"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Application Finder"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
    <item label="Archive Manager"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Archlabs-Hello"><action name="Execute"><command><![CDATA[archlabs-hello]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Catfish File Search"><action name="Execute"><command><![CDATA[/usr/bin/catfish]]></command></action></item>
    <item label="Character Map"><action name="Execute"><command><![CDATA[gucharmap]]></command></action></item>
    <item label="ClipIt"><action name="Execute"><command><![CDATA[clipit]]></command></action></item>
    <item label="compton"><action name="Execute"><command><![CDATA[compton --xrender-sync-fence]]></command></action></item>
    <item label="Disks"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Font Manager"><action name="Execute"><command><![CDATA[font-manager]]></command></action></item>
    <item label="Font Viewer"><action name="Execute"><command><![CDATA[/usr/libexec/font-manager/font-viewer]]></command></action></item>
    <item label="Galculator"><action name="Execute"><command><![CDATA[galculator]]></command></action></item>
    <item label="HP Device Manager"><action name="Execute"><command><![CDATA[hp-toolbox]]></command></action></item>
    <item label="Image Viewer"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
    <item label="KeePassXC"><action name="Execute"><command><![CDATA[keepassxc]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Plank"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Redshift"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Run Program..."><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Screenshot"><action name="Execute"><command><![CDATA[xfce4-screenshooter]]></command></action></item>
    <item label="Task Manager"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Temps"><action name="Execute"><command><![CDATA[temps]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Terminator"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="USB Image Writer"><action name="Execute"><command><![CDATA[mintstick -m iso]]></command></action></item>
    <item label="USB Stick Formatter"><action name="Execute"><command><![CDATA[mintstick -m format]]></command></action></item>
    <item label="Variety"><action name="Execute"><command><![CDATA[variety]]></command></action></item>
    <item label="Xfburn"><action name="Execute"><command><![CDATA[xfburn]]></command></action></item>
  </menu>
  <menu id="Development" label="Development">
    <item label="CMake"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="FLUID"><action name="Execute"><command><![CDATA[fluid]]></command></action></item>
    <item label="Geany"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="Icon Browser"><action name="Execute"><command><![CDATA[yad-icon-browser]]></command></action></item>
    <item label="Meld"><action name="Execute"><command><![CDATA[meld]]></command></action></item>
    <item label="Qt Assistant"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Designer"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDbusViewer"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
    <item label="Qt4 Assistant"><action name="Execute"><command><![CDATA[assistant-qt4]]></command></action></item>
    <item label="Qt4 Designer"><action name="Execute"><command><![CDATA[designer-qt4]]></command></action></item>
    <item label="Qt4 Linguist"><action name="Execute"><command><![CDATA[linguist-qt4]]></command></action></item>
    <item label="Qt4 QDbusViewer"><action name="Execute"><command><![CDATA[qdbusviewer-qt4]]></command></action></item>
    <item label="Sublime Text"><action name="Execute"><command><![CDATA[/opt/sublime_text/sublime_text]]></command></action></item>
  </menu>
  <menu id="Graphics" label="Graphics">
    <item label="Darktable"><action name="Execute"><command><![CDATA[/usr/bin/darktable]]></command></action></item>
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="E-book Viewer"><action name="Execute"><command><![CDATA[ebook-viewer --detach]]></command></action></item>
    <item label="Font Manager"><action name="Execute"><command><![CDATA[font-manager]]></command></action></item>
    <item label="Font Viewer"><action name="Execute"><command><![CDATA[/usr/libexec/font-manager/font-viewer]]></command></action></item>
    <item label="Geeqie"><action name="Execute"><command><![CDATA[geeqie -r]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.8]]></command></action></item>
    <item label="Gpick"><action name="Execute"><command><![CDATA[gpick]]></command></action></item>
    <item label="Image Viewer"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
    <item label="Inkscape"><action name="Execute"><command><![CDATA[inkscape]]></command></action></item>
    <item label="LRF Viewer"><action name="Execute"><command><![CDATA[lrfviewer]]></command></action></item>
    <item label="Peek"><action name="Execute"><command><![CDATA[peek]]></command></action></item>
    <item label="Viewnior"><action name="Execute"><command><![CDATA[viewnior]]></command></action></item>
  </menu>
  <menu id="Multimedia" label="Multimedia">
    <item label="Audacity"><action name="Execute"><command><![CDATA[env UBUNTU_MENUPROXY=0 audacity]]></command></action></item>
    <item label="DeaDBeeF"><action name="Execute"><command><![CDATA[deadbeef]]></command></action></item>
    <item label="mpv Media Player"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="MusicBrainz Picard"><action name="Execute"><command><![CDATA[picard]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="SimpleScreenRecorder"><action name="Execute"><command><![CDATA[simplescreenrecorder --logfile]]></command></action></item>
    <item label="SMPlayer"><action name="Execute"><command><![CDATA[smplayer]]></command></action></item>
    <item label="VLC media player"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Xfburn"><action name="Execute"><command><![CDATA[xfburn]]></command></action></item>
  </menu>
  <menu id="Network" label="Network">
    <item label="Avahi SSH Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="ELinks"><action name="Execute"><command><![CDATA[termite -e '/usr/bin/elinks']]></command></action></item>
    <item label="FileZilla"><action name="Execute"><command><![CDATA[filezilla]]></command></action></item>
    <item label="Firefox ESR - Safe Mode"><action name="Execute"><command><![CDATA[firefox-esr -safe-mode]]></command></action></item>
    <item label="Firefox ESR"><action name="Execute"><command><![CDATA[firefox-esr]]></command></action></item>
    <item label="HexChat"><action name="Execute"><command><![CDATA[hexchat --existing]]></command></action></item>
    <item label="lftp"><action name="Execute"><command><![CDATA[termite -e 'lftp']]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Rclone Browser"><action name="Execute"><command><![CDATA[/usr/bin/rclone-browser]]></command></action></item>
    <item label="TeamViewer 12"><action name="Execute"><command><![CDATA[/opt/teamviewer/tv_bin/script/teamviewer]]></command></action></item>
    <item label="TigerVNC Viewer"><action name="Execute"><command><![CDATA[/usr/bin/vncviewer]]></command></action></item>
    <item label="Tor-Browser (en-US)"><action name="Execute"><command><![CDATA[/usr/bin/tor-browser-en]]></command></action></item>
    <item label="Transmission"><action name="Execute"><command><![CDATA[transmission-gtk]]></command></action></item>
    <item label="Vivaldi (snapshot)"><action name="Execute"><command><![CDATA[/usr/bin/vivaldi-snapshot]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
    <item label="Zenmap (as root)"><action name="Execute"><command><![CDATA[/usr/share/zenmap/su-to-zenmap.sh]]></command></action></item>
    <item label="Zenmap"><action name="Execute"><command><![CDATA[zenmap]]></command></action></item>
  </menu>
  <menu id="Office" label="Office">
    <item label="Calibre"><action name="Execute"><command><![CDATA[calibre --detach]]></command></action></item>
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="E-book Editor"><action name="Execute"><command><![CDATA[ebook-edit --detach]]></command></action></item>
    <item label="WPS Presentation"><action name="Execute"><command><![CDATA[/usr/bin/wpp]]></command></action></item>
    <item label="WPS Spreadsheets"><action name="Execute"><command><![CDATA[/usr/bin/et]]></command></action></item>
    <item label="WPS Writer"><action name="Execute"><command><![CDATA[/usr/bin/wps]]></command></action></item>
  </menu>
  <menu id="Other" label="Other">
    <item label="mullvad"><action name="Execute"><command><![CDATA[]]></command></action></item>
  </menu>
  <menu id="Settings" label="Settings">
    <item label="Accessibility"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Adobe Flash Player"><action name="Execute"><command><![CDATA[flash-player-properties]]></command></action></item>
    <item label="Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="ARandR"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Bluetooth"><action name="Execute"><command><![CDATA[blueberry]]></command></action></item>
    <item label="Customize Look and Feel"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Display"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Keyboard"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="MIME Type Editor"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Monitor Settings"><action name="Execute"><command><![CDATA[lxrandr]]></command></action></item>
    <item label="Mouse and Touchpad"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Network Connections"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Notifications"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Oomox: customize icons and GTK themes"><action name="Execute"><command><![CDATA[oomox-gui]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Openbox Key bindings"><action name="Execute"><command><![CDATA[obkey]]></command></action></item>
    <item label="Openbox Menu Editor"><action name="Execute"><command><![CDATA[obmenu3]]></command></action></item>
    <item label="Panel"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Print Settings"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="Privilege granting"><action name="Execute"><command><![CDATA[gksu-properties]]></command></action></item>
    <item label="Qt5 Settings"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Settings Editor"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Tint2 Settings"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="System" label="System">
    <item label="Add/Remove Software"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Avahi Zeroconf Browser"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Disk Usage Analyzer"><action name="Execute"><command><![CDATA[baobab]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Grsync"><action name="Execute"><command><![CDATA[/usr/bin/grsync -i]]></command></action></item>
    <item label="Grub Customizer"><action name="Execute"><command><![CDATA[grub-customizer]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[termite -e 'htop']]></command></action></item>
    <item label="LightDM GTK+ Greeter settings"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Manage Printing"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="Print Settings"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="ranger"><action name="Execute"><command><![CDATA[termite -e 'ranger']]></command></action></item>
    <item label="Software Update"><action name="Execute"><command><![CDATA[pamac-updater]]></command></action></item>
    <item label="System Profiler and Benchmark"><action name="Execute"><command><![CDATA[hardinfo]]></command></action></item>
    <item label="Task Manager"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Terminator"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Termite"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="urxvt (client)"><action name="Execute"><command><![CDATA[urxvtc]]></command></action></item>
    <item label="urxvt (tabbed)"><action name="Execute"><command><![CDATA[urxvt-tabbed]]></command></action></item>
    <item label="urxvt"><action name="Execute"><command><![CDATA[urxvt]]></command></action></item>
    <item label="USB Image Writer"><action name="Execute"><command><![CDATA[mintstick -m iso]]></command></action></item>
    <item label="USB Stick Formatter"><action name="Execute"><command><![CDATA[mintstick -m format]]></command></action></item>
    <item label="UXTerm"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
    <menu id="Places" label="Places" execute="al-places-pipemenu"/>
    <menu id="Recent Files" label="Recent Files" execute="al-recent-files-pipemenu"/>
  <separator/>
  <menu id="Preferences" label="Preferences">
  <menu id="Openbox" label="Openbox">
    <item label="Edit menu.xml"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Edit rc.xml"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Edit autostart"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
  <separator/>
    <item label="GUI Menu Editor"><action name="Execute"><command><![CDATA[obmenu3]]></command></action></item>
    <item label="GUI Config Tool"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="GUI Keybinds"><action name="Execute"><command><![CDATA[obkey]]></command></action></item>
  <separator/>
    <item label="Restart Openbox"><action name="Execute"><command><![CDATA[openbox --restart]]></command></action></item>
    <item label="Reconfigure Openbox"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
    <menu id="Compositor" label="Compositor" execute="al-compositor"/>
    <menu id="Conky" label="Conky" execute="al-conky-pipemenu"/>
    <menu id="Tint2" label="Tint2" execute="al-tint2-pipemenu"/>
    <item label="Tint2 GUI"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  <separator/>
    <item label="Lxappearance"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Xfce4 Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="LightDM Appearance"><action name="Execute"><command><![CDATA[gksudo lightdm-gtk-greeter-settings]]></command></action></item>
    <item label="Slim Appearance"><action name="Execute"><command><![CDATA[gksudo geany /etc/slim.conf]]></command></action></item>
    <item label="Rofi Appearance"><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
    <item label="Termite Appearance"><action name="Execute"><command><![CDATA[geany ~/.config/termite/config]]></command></action></item>
    <item label="Exit Appearance"><action name="Execute"><command><![CDATA[gksudo geany /etc/oblogout.conf]]></command></action></item>
    <item label="Choose wallpaper"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
  <separator/>
    <item label="Notifications"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Pulseaudio Preferences"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Oomox"><action name="Execute"><command><![CDATA[oomox-gui]]></command></action></item>
  <separator/>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Power Management"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Xfce4 Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Dmenu"><action name="Execute"><command><![CDATA[dmenu_run -i -nb '#191919' -nf '#fea63c' -sb '#fea63c' -sf '#191919' -fn 'NotoMonoRegular:bold:pixelsize=14']]></command></action></item>
    <item label="Screen Layout Editor"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Printing"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
  </menu>
  <menu id="System Settings" label="System Settings">
    <item label="Pamac Package Manager"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Pamac Package Updater"><action name="Execute"><command><![CDATA[pamac-updater]]></command></action></item>
  <separator/>
    <item label="File Manager As Root"><action name="Execute"><command><![CDATA[gksudo thunar]]></command></action></item>
    <item label="Text Editor As Root"><action name="Execute"><command><![CDATA[gksudo geany]]></command></action></item>
  <separator/>
    <item label="Login Settings"><action name="Execute"><command><![CDATA[gksudo geany /etc/lightdm/lightdm-gtk-greeter.conf /etc/lightdm/lightdm.conf]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[gksudo gparted]]></command></action></item>
  <separator/>
    <item label="Disks"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="System Profiler and Benchmark"><action name="Execute"><command><![CDATA[hardinfo]]></command></action></item>
    <item label="Taskmanager"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
  </menu>
  <separator/>
  <menu id="Obmenu-Generator" label="Obmenu-Generator">
    <item label="Menu Schema"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a pipe menu"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a static menu"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a pipe menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
    <item label="Generate a static menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Refresh Icon Set"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <separator/>
    <menu id="Help &amp; Resources" label="Help &amp; Resources" execute="al-help-pipemenu"/>
    <menu id="Display Keybinds" label="Display Keybinds" execute="al-kb-pipemenu"/>
  <separator/>
    <item label="Lock Screen"><action name="Execute"><command><![CDATA[slimlock]]></command></action></item>
    <item label="Exit Openbox"><action name="Execute"><command><![CDATA[oblogout]]></command></action></item>
  </menu>
</openbox_menu>
